<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylessheet" type="text/css" href="styles.css"/>

</head>
<body>

<h1>HOME PAGE</h1>
<h2>HOME PAGE</h2>
<h3>HOME PAGE</h3>
<p><u> ipsum</u> <b>dolor sit amet consectetur adipisicing</b> elit. <i>Repudiandae, nulla.</i></p>
<p>Lorem <strong> dolor sit amet consectetur</strong> adipisicing elit.<em> Beatae, quis.</em></p>
</body>
</html>